button {
    margin: 5px 25px;
}
.rounded button {
    background-color: white;
    border-color:rgb(124, 200, 201);
    color: rgb(124, 200, 201);
    border-radius: 25px;
    width: 125px;
    height: 25px;
    font-weight: bold;
}
.circle button{
    background-color: rgb(0, 209, 178);
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border-color: transparent;
    color: white;
    font-size: 25px;
}
.shadow button{
    background-color: rgb(43,120,228);
    width: 175px;
    height: 35px;
    color: white;
    font-weight: lighter;
    border-color: black;
    box-shadow: 3px 3px black;
}